<!-- Wrap all page content here -->
<div class="container-wrap">
    <!-- Make page fluid -->
    <!-- Page content -->
    <div class="col-md-12 full-page login">

        <div class="inside-block">
            <img src="/admin/images/logo-big.png" alt class="logo">
            <h1> <strong>Welcome</strong>
                Stranger
            </h1>
            <h5>Minimal Admin</h5>

            <form id="form-signin" class="form-signin">
                <section>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" #username />
                        <div class="input-group-addon"> <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" #password />
                        <div class="input-group-addon"> <i class="fa fa-key"></i>
                        </div>
                    </div>
                </section>
                <section class="log-in">
                    <a href="javascript:;" class="btn btn-greensea" (click)="login(username.value,password.value)">Log In</a>
                </section>
            </form>
        </div>
    </div>
    <!-- /Page content --> 
</div>
<!-- Wrap all page content end -->