<ul class="nav navbar-nav side-nav menu" >
    
    <li [class.active]="router.isRouteActive(router.generate(['Dashboard']))">
        <a [routerLink]="['Dashboard']"><i class="glyphicon glyphicon-file"></i> Dashboard</a>
    </li>
    <li [class.active]="router.isRouteActive(router.generate(['Article']))">
        <a [routerLink]="['Article']"><i class="glyphicon glyphicon-cloud"></i> Article</a>
    </li>
    <!-- <li [class.active]="router.isRouteActive(router.generate(['QiniuAdmin']))">
        <a [routerLink]="['QiniuAdmin']"><i class="glyphicon glyphicon-cloud"></i> 七牛服务器</a>
    </li>
    <li [class.active]="router.isRouteActive(router.generate(['QiniuAdmin']))">
        <a [routerLink]="['QiniuAdmin']"><i class="glyphicon glyphicon-cloud"></i> 七牛服务器</a>
    </li>
    <li [class.active]="router.isRouteActive(router.generate(['QiniuAdmin']))">
        <a [routerLink]="['QiniuAdmin']"><i class="glyphicon glyphicon-cloud"></i> 七牛服务器</a>
    </li> -->
</ul>