<section class="col-lg-8 col-md-8">
	<article *ngFor="#blog of blogList;" class="blog-item blog-item-normal">
		<section class="banner" >
			<img src="/blog/images/banner.jpg">
		</section>
		<section class="content">
			<header class="blog-header">
				<h1><a [routerLink]="['Detail',{id:blog._id}]">{{blog.title}}</a></h1>
				<h2 *ngIf="blog.subTitle"><i>{{blog.subTitle}}</i></h2>
			</header>
			<section class="blog-body">
				<p>{{blog.content}}</p>
			</section>
			<footer class="blog-footer clearfix">
				<time>{{blog.postDate}}</time>
			</footer>
		</section>
	</article>
</section>
<aside class="col-lg-4 col-md-4">
	<section id="aside-container" class="aside-container"></section>
</aside>