<section class="list">
	<article>
		<header>
			<h1>title</h1>
		</header>
		<section>
			<p>“二爷，我到底哪点比不上她？她能下斗吗？她有我漂亮吗？她有我床上伺候的好吗？我一心一意跟你，你就不能正眼看我一眼，看我啊？”霍家的小姨撕开自己的旗袍，白的犹如冰玉一般的身段全部暴露在了二月红面前，二月红淡淡放下酒杯，脱下衣服给她披上，“你会下面吗？我想吃一碗阳春面。”二月红终身未续娶，活到一百零二岁，死后与妻子合葬。他的棺材比妻子的高出一截，为的是让在地下等待了多年的丫头，能够再次靠在他的肩膀上，听他婉婉而唱的戏腔。出自《吴邪的私家笔记》老九门的二当家，二月红。一生挚爱唯有厨前煮面的丫头一人。</p>
		</section>
		<footer></footer>
	</article>
</section>